{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set componentClass = 'c-three-columns' %}

{% block content %}
    <div {{ attributes.addClass(componentClass) }}>
        {{ title_prefix }}
        {{ title_suffix }}
        {% if title %}
            <h2 class="{{ componentClass }}__title">{{ title }}</h2>
        {% endif %}
        {% if content %}
            <div class="{{ componentClass }}__content">
                {{ content }}
            </div>
        {% endif %}
    </div>
{% endblock %}