{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set componentClass = 'c-article' %}

{% block content %}
    <div class="{{ componentClass }} {{ attributes.class }}" {{ attributes }}>
        {{ title_prefix }}
        {{ title_suffix }}
        {% if title %}
            <h3 class="{{ componentClass }}__title">{{ title }}</h3>
        {% endif %}
        {% if media %}
            <div class="{{ componentClass }}__media">{{ media }}</div>
        {% endif %}
        {% if rte %}
            <div class="{{ componentClass }}__rte">{{ rte }}</div>
        {% endif %}
        {% if url %}
            {% include "@templates/components/button/_button.html.twig" with {
                label: "En savoir plus",
                url: url
            } %}
        {% endif %}
    </div>
{% endblock %}