{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set componentClass = 'c-button' %}

{% block content %}
    <a class="{{ componentClass }} {{ attributes.class }}" href="{{ url }}" {{ attributes }}>
        {% if label %}
            <span class="{{ componentClass }}__label">{{ label }}</span>
        {% endif %}
    </a>
{% endblock %}