{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set componentClass = 'c-button' %}

{% block content %}
    <a class="{{ componentClass }}" href="{{ url }}">
        <span class="{{ componentClass }}__label">{{ label }}</span><class="{{ componentClass }}__icon"span>{{ icon }}</span>
    </a>
{% endblock %}